body{
    font-family: 'poppins', sans-serif;
}
.orange{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
width: 65%;
}
.mission{
    padding-left: 10%;
}
.explore-button{
    color: white;
    text-decoration: none;
background-color: rgba(255, 0, 0, 0.609);
padding: 10px 40px;
}